BOT_TOKEN=
POLZA_API_KEY=
ADMIN_TG_ID=
DB_PATH=database/bot.db
TZ=Asia/Novosibirsk

# Порог баланса polza.ai в рублях — при падении ниже шлём предупреждение админу
BALANCE_THRESHOLD=100

# 2-й этап
YOOKASSA_SHOP_ID=
YOOKASSA_SECRET_KEY=
WEBHOOK_URL=
